a {
	text-decoration: none;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	margin-bottom: 0;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#outputAlert {
	border-collapse: collapse;
	display: table;
	width:100%;
	padding: inherit;
}

#sel-data {
	margin-bottom: 20px;
}

#container, #container_bw {
	width: 550px;
	height: 400px;
	margin: 0 auto;
}

#outTab, #outTab_bw {
	min-width: 420px;
}

#outTab > tr > td , #outTab_bw > tr > td {
	white-space: nowrap;
}
